



.contact-alle{
    background:white;
    display:flex;
    margin:20px 0;
}

.contact-contact{
    flex:1;
  
}

.contact-foto{
    background:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("https://cdn.pixabay.com/photo/2019/06/28/00/17/architecture-4303279_1280.jpg");
    background-size:cover;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    color:white;
    padding:50px 0;
}

.contact-foto p{
    padding-left:20%;
    font-size:20px;
}
 
.contact-foto p span{
    font-size:16px;
    color:#9df2fd;
}

a {
		color:#9df2fd;
}
.contact-me{
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
}

.inside-contact{
    width:90%;
    margin:0 auto;
}
 
.inside-contact h2{
    text-transform:uppercase;
    text-align:center;
    margin-top:50px;
}
 
.inside-contact h3{
    text-align:center;
    font-size:16px;
    color:#0085e2;
}

.inside-contact input, .inside-contact textarea{
    width:100%;
    background-color:#d3d3d3;
    border:1px solid rgba(0,0,0,0.48);
    padding:5px 10px;
    margin-bottom:20px;
}

.inside-contact input[type=submit]{
    background-color:black;
    color:white;
    transition:0.2s;
    border:2px solid black;
    margin:30px 0;
}

.inside-contact input[type=submit]:hover{
    background-color:white;
    color:black;
    transition:0.2s;
}



H1 {
  background-color: light gray;
  text-align: center;
  padding: 20px;
}

/* The navbar container */
.topnav {
  overflow: hidden;
  background-color: black;
}

/* Navbar links */
.topnav a {
  float: left;
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

/* Links - change color on hover */
.topnav a:hover {
  background-color: white;
  color: black;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 10px;
  background: #d3d3d3;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  text-align: center;
  background: white;
}

.header h1 {
  font-size: 50px;
}

/* center column */
.centercolumn {   
  float: center;
  width: 60%;
  text-align: left;
}


/* Fake image */
.fakeimg {
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}







